<a href="https://colab.research.google.com/github/vuongdenchoi/introductionwithR/blob/main/DSR_PT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
```
Course: DSR301m-SP25
PT: 01
Name: Ngô Minh Vượng
ID: SE123456
Class: AI1804
```
---

**Submission File Name**: use **your StudentID** as file name (e.g., SE123456.ipynb)
  * Only submit `.ipynb` file or `.r` file

**Deadline for submission: 8:30:00 AM on 11/03/2025**

**Link for submission**: https://forms.gle/FQtTSZsy4mMwfbdf6

1. (2pts) Write a function that takes a vector as input. Check if the vector represents the 3 sides of a triangle, and return the type of triangle.

In [1]:
# your code
triangle_type <- function(sides) {
  # Check if input is a valid vector of length 3
  if (length(sides) != 3) {
    return("Input must be a vector of three numbers")
  }

  # Extract the three sides
  a <- sides[1]
  b <- sides[2]
  c <- sides[3]

  # Check the triangle inequality condition
  if (a + b <= c || a + c <= b || b + c <= a) {
    return("Not a triangle")
  }

  # Determine the type of triangle
  if (a == b && b == c) {
    return("Equilateral triangle")
  } else if (a == b || a == c || b == c) {
    return("Isosceles triangle")
  } else {
    return("Scalene triangle")
  }
}

# Example usage:
print(triangle_type(c(3, 3, 3)))  # Equilateral triangle
print(triangle_type(c(3, 4, 5)))  # Scalene triangle
print(triangle_type(c(2, 2, 3)))  # Isosceles triangle
print(triangle_type(c(1, 2, 3)))  # Not a triangle

[1] "Equilateral triangle"
[1] "Scalene triangle"
[1] "Isosceles triangle"
[1] "Not a triangle"


2. (2pts) Write a function that takes a vector as input. Check if the vector represents three coefficients of a quadratic equation, and solve the equation.

In [6]:
 solve_quadratic <- function(coeffs) {
  # Check if input is a valid vector of length 3
  if (length(coeffs) != 3) {
    return("Input must be a vector of three numbers (a, b, c)")
  }

  # Extract the coefficients
  a <- coeffs[1]
  b <- coeffs[2]
  c <- coeffs[3]

  # Check if 'a' is zero (not a quadratic equation)
  if (a == 0) {
    if (b == 0) {
      return(ifelse(c == 0, "Infinite solutions", "No solution")) # Special cases: 0x + 0 = 0 or 0x + c = 0
    }
    return(paste("Linear equation solution:", -c / b)) # bx + c = 0
  }

  # Compute the discriminant
  discriminant <- b^2 - 4 * a * c

  # Solve the equation based on the discriminant
  if (discriminant > 0) {
    x1 <- (-b + sqrt(discriminant)) / (2 * a)
    x2 <- (-b - sqrt(discriminant)) / (2 * a)
    return(paste("Two real solutions:", x1, "and", x2))
  } else if (discriminant == 0) {
    x <- -b / (2 * a)
    return(paste("One real solution:", x))
  } else {
    real_part <- -b / (2 * a)
    imaginary_part <- sqrt(-discriminant) / (2 * a)
    return(paste("Two complex solutions:",
                 paste(real_part, "+", imaginary_part, "i"),
                 "and",
                 paste(real_part, "-", imaginary_part, "i")))
  }
}

# Example usage:
print(solve_quadratic(c(1, -3, 2)))  # Two real solutions: x = 2, x = 1
print(solve_quadratic(c(1, 2, 1)))   # One real solution: x = -1
print(solve_quadratic(c(1, 0, 1)))   # Two complex solutions: x = i, x = -i
print(solve_quadratic(c(0, 2, -4)))  # Linear equation solution: x = 2
print(solve_quadratic(c(0, 0, 5)))   # No solution

[1] "Two real solutions: 2 and 1"
[1] "One real solution: -1"
[1] "Two complex solutions: 0 + 1 i and 0 - 1 i"
[1] "Linear equation solution: 2"
[1] "No solution"

3. (1pts) Write a function to check for prime numbers. You create a program for the user to enter a vector and check if each element of the vector is prime.

In [9]:
# your code
# Function to check if a number is prime
is_prime <- function(n) {
  if (n < 2) {
    return(FALSE)
  }
  for (i in 2:sqrt(n)) {
    if (n %% i == 0) {
      return(FALSE)
    }
  }
  return(TRUE)
}

# Function to check a vector for prime numbers
check_prime_vector <- function(vec) {
  if (!is.numeric(vec)) {
    return("Input must be a numeric vector")
  }

  prime_status <- sapply(vec, is_prime)  # Apply is_prime function to each element
  result <- data.frame(Number = vec, Is_Prime = prime_status)

  return(result)
}

# User input and execution
user_input <- as.numeric(strsplit(readline("Enter numbers separated by space: "), " ")[[1]])
prime_results <- check_prime_vector(user_input)

print(prime_results)

Enter numbers separated by space: 4 5 7 9 11 14 15
  Number Is_Prime
1      4    FALSE
2      5     TRUE
3      7     TRUE
4      9    FALSE
5     11     TRUE
6     14    FALSE
7     15    FALSE

In [1]:
# Install required libraries
install.packages('RSQLite')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘plogr’

In [2]:
# Load required libraries
library(DBI)
library(RSQLite)

In [3]:
# Create and connect to an SQLite database (change path as needed)
con <- dbConnect(RSQLite::SQLite(), "mydatabase.db")

4. (1pts) Complete table creation for PK and FK:
* customers: cus_id(PK)
* employees: emp_id (PK)
* products: pro_id (PK)
* invoice: inv_id (PK), cus_id (FK), emp_id (FK)
* invoice_details: inv_id(PK, FK), pro_id (PK, FK)

In [4]:
# -- Create tables for online bookstore
dbExecute(con, "CREATE TABLE customers(
  cus_id char(4),
  name varchar(40),
  address varchar(50),
  phonenumber varchar(20),
  DoB DATE,
  reg_date DATE,
  sale money)
  ")

dbExecute(con, "CREATE TABLE employees(
  emp_id char(4),
  name varchar(40),
  phonenumber varchar(20),
  start_date DATE)
  ")

dbExecute(con, "CREATE TABLE products(
 pro_id char(4),
 pro_name varchar(40),
 unit varchar(20),
 pro_country varchar(40),
 price money)
 ")

dbExecute(con, "CREATE TABLE invoice(
 inv_id int,
 inv_date DATE,
 inv_value money,
 cus_id char(4),
 emp_id char(4)
 )")
#
#
dbExecute(con, "CREATE TABLE invoice_details(
 inv_id int,
 pro_id char(4),
 quantity int)
 ")

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0

In [ ]:
# -- Create tables for online bookstore
dbExecute(con, "CREATE TABLE customers(
  cus_id char(4),
  name varchar(40),
  address varchar(50),
  phonenumber varchar(20),
  DoB DATE,
  reg_date DATE,
  sale money)
  ")

dbExecute(con, "CREATE TABLE employees(
  emp_id char(4),
  name varchar(40),
  phonenumber varchar(20),
  start_date DATE)
  ")

dbExecute(con, "CREATE TABLE products(
 pro_id char(4),
 pro_name varchar(40),
 unit varchar(20),
 pro_country varchar(40),
 price money)
 ")

dbExecute(con, "CREATE TABLE invoice(
 inv_id int,
 inv_date DATE,
 inv_value money,
 cus_id char(4),
 emp_id char(4)
 )")
#
#
dbExecute(con, "CREATE TABLE invoice_details(
 inv_id int,
 pro_id char(4),
 quantity int)
 ")

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0

In [5]:
dbExecute(con, "insert into customers (cus_id, name, address, phonenumber, DoB, reg_date, sale) values
 ('CM09','Le Ha Vinh','873 Le Hong Phong, Q5, TpHCM','8654763','1979-09-03','2007-01-14',70000),
  ('CM06','Le Hoai Thuong','227 Nguyen Van Cu, Q5, TpHCM','8631738','1981-12-31','2006-11-24',915000),
 ('CM07','Nguyen Van Tam','32/3 Tran Binh Trong, Q5, TpHCM','916783565','1971-04-06','2006-01-12',12500),
 ('CM08','Phan Thi Thanh','45/2 An Duong Vuong, Q5, TpHCM','938435756','1971-01-10','2006-12-13',365000),
 ('CM04','Tran Minh Long','50/34 Le Dai Hanh, Q10, TpHCM','917325476','1965-03-09','2006-02-10',250000),
 ('CM05','Le Nhat Minh','34 Truong Dinh, Q3, TpHCM','8246108','1950-03-10','2006-10-28',21000),
('CM01','Nguyen Van A','731 Tran Hung Dao, Q5, TpHCM','8823451','1960-10-22','2006-07-22',13060000),
('CM02','Tran Ngoc Han','23/5 Nguyen Trai, Q5, TpHCM','908256478','1974-03-04','2006-07-30',280000),
 ('CM03','Tran Ngoc Linh','45 Nguyen Canh Chan, Q1, TpHCM','938776266','1980-06-12','2006-05-08',3860000),
 ('CM10','Ha Duy Lap','34/34B Nguyen Trai, Q1, TpHCM','8768904','1983-05-02','2007-01-16',67500)"
 )


dbExecute(con, "insert into employees (emp_id, name, phonenumber, start_date) values
('ST04','Ngo Thanh Tuan','913758498','2006-06-24'),
('ST02','Le Thi Phi Yen','987567390','2006-04-21'),
('ST03','Nguyen Van B','997047382','2006-04-27'),
('ST01','Nguyen Nhu Nhut','927345678','2006-04-13'),
('ST05','Nguyen Thi Truc Thanh','918590387','2006-07-20')")

dbExecute(con, "insert into  products (pro_id,pro_name,unit,pro_country, price) values
 ('NB07','note book 1','q','VietNam',7000),
 ('NB08','note book 1','q','VietNam',1000),
 ('NB09','note book 2','q','VietNam',5000),
 ('BP01','ballpoint pen','c','VietNam',5000),
 ('BP02','ballpoint pen','c','China',7000),
 ('BP03','ballpoint pen','h','Thailand',100000),
  ('PP03','paper 300','q','VietNam',3000),
 ('PP04','paper 400','q','VietNam',5500),
 ('PP05','paper 100','q','VietNam',23000),
 ('PP06','paper 200','q','VietNam',53000),
  ('NB02','note book 1','q','VietNam',55000),
 ('NB03','note book 2','q','VietNam',51000),
 ('NB04','note book','q','Thailand',55000),
 ('NB05','note book 1','q','Thailand',20000),
 ('PP01','paper 100','q','China',2500),
 ('PP02','paper 200','q','China',4500),
 ('PP07','paper 100','q','China',34000),
 ('NB01','note book','q','China',40000),
 ('PC01','pencil','c','Singapore',3000),
('PC02','pencil','c','Singapore',5000),
('PC03','pencil','c','VietNam',3500),
 ('PC04','pencil','h','VietNam',30000),
 ('NB06','note book 3','q','VietNam',5000),
 ('NB10','note book 2','q','China',7000)")

dbExecute(con, "insert into invoice (inv_id,inv_date,cus_id ,emp_id, inv_value) values
 (1001,'2006-07-23','CM01','ST01',320000),
 (1015,'2007-01-01','CM06','ST01',910000),
(1016,'2007-01-01','CM07','ST02',12500),
(1017,'2007-01-02','CM08','ST03',35000),
(1005,'2006-10-20','CM01','ST02',3800000),
(1006,'2006-10-16','CM01','ST03',2430000),
(1010,'2006-11-01','CM01','ST01',5200000),
(1011,'2006-11-04','CM04','ST03',250000),
(1012,'2006-11-30','CM05','ST03',21000),
(1013,'2006-12-12','CM06','ST01',5000),
(1007,'2006-10-28','CM03','ST03',510000),
(1008,'2006-10-28','CM01','ST03',440000),
(1009,'2006-10-28','CM03','ST04',200000),
(1018,'2007-01-13','CM08','ST03',330000),
(1002,'2006-08-12','CM01','ST02',840000),
(1003,'2006-08-23','CM02','ST01',100000),
(1004,'2006-09-01','CM02','ST01',180000),
(1019,'2007-01-13','CM01','ST03',30000),
(1020,'2007-01-14','CM09','ST04',70000),
(1021,'2007-01-16','CM10','ST03',67500),
(1022,'2007-01-16',Null,'ST03',7000),
(1014,'2006-12-31','CM03','ST02',3150000),
(1023,'2007-01-17',Null,'ST01',330000)"
)

dbExecute(con, "insert into  invoice_details (inv_id,pro_id,quantity) values
(1001,'PP02',10),
 (1006,'PP07',20),
 (1006,'NB01',30),
 (1006,'NB02',10),
  (1002,'BP02',20),
 (1003,'BP03',10),
 (1004,'PP01',20),
 (1004,'PP02',10),
 (1007,'NB03',10),
 (1001,'NB01',5),
 (1001,'PC01',5),
 (1001,'PC02',10),
 (1001,'PP07',10),
 (1002,'BC04',20),
 (1002,'BP01',20),
 (1008,'NB04',8),
 (1009,'NB05',10),
 (1010,'PP07',50),
 (1010,'NB07',50),
 (1004,'PP03',10),
 (1004,'PP04',10),
 (1005,'PP05',50),
 (1005,'PP06',50),
 (1014,'BP02',100),
 (1014,'PC04',60),
 (1014,'BP01',50),
 (1015,'BP02',30),
 (1010,'NB08',100),
 (1010,'NB04',50),
 (1010,'PP03',100),
 (1011,'NB06',50),
 (1012,'PP07',3),
 (1013,'NB08',5),
 (1014,'PC03',80),
 (1017,'PP03',1),
 (1017,'PP04',5),
 (1018,'NB04',6),
 (1019,'NB05',1),
 (1015,'PP03',7),
 (1016,'PP01',5),
 (1017,'PP02',1),
 (1020,'NB07',10),
 (1021,'NB08',5),
 (1021,'PP01',7),
 (1021,'PP02',10),
 (1019,'NB06',2),
 (1022,'NB07',1),
 (1023,'NB04',6)")

[1] 10

[1] 5

[1] 24

[1] 23

[1] 48

5. (1pts) Find customers (cus_id, name) with the most purchases.

In [11]:
# your code
query <- "
WITH CustomerTotal AS (
    SELECT c.cus_id, c.name, SUM(i.inv_value) AS total_spent
    FROM customers c
    JOIN invoice i ON c.cus_id = i.cus_id
    GROUP BY c.cus_id, c.name
)
SELECT cus_id, name, total_spent
FROM CustomerTotal
WHERE total_spent = (SELECT MAX(total_spent) FROM CustomerTotal);"  # Use single quotes and semicolon

result <- dbGetQuery(con, query)  # Execute the query using dbGetQuery
print(result)  # Print the result

  cus_id         name total_spent
1   CM01 Nguyen Van A    13060000

6. (1pts) Which month in 2006 had the highest sales?

In [12]:
query <- "
SELECT strftime('%Y-%m', inv_date) AS sales_month, SUM(inv_value) AS total_sales
FROM invoice
WHERE strftime('%Y', inv_date) = '2006'
GROUP BY sales_month
ORDER BY total_sales DESC
LIMIT 1;"

result <- dbGetQuery(con, query)
print(result)

  sales_month total_sales
1     2006-10     7380000

7. (1pts) Print out invoice numbers and invoice values ​​for January 2007, sorted by date (ascending) and invoice value (descending).

In [15]:
# your code
query <- "
SELECT inv_id,inv_date, inv_value
FROM invoice
WHERE strftime('%Y-%m', inv_date) = '2007-01'
ORDER BY inv_date ASC, inv_value DESC;"

result <- dbGetQuery(con, query)
print(result)

  inv_id   inv_date inv_value
1   1015 2007-01-01    910000
2   1016 2007-01-01     12500
3   1017 2007-01-02     35000
4   1018 2007-01-13    330000
5   1019 2007-01-13     30000
6   1020 2007-01-14     70000
7   1021 2007-01-16     67500
8   1022 2007-01-16      7000
9   1023 2007-01-17    330000

8. (1pts) Print out invoice numbers and invoice values ​​sold on January 1, 2007 and January 2, 2007.

In [14]:
# your code
query <- "
SELECT inv_id, inv_value
FROM invoice
WHERE inv_date IN ('2007-01-01', '2007-01-02');"

result <- dbGetQuery(con, query)
print(result)

  inv_id inv_value
1   1015    910000
2   1016     12500
3   1017     35000