<a href="https://colab.research.google.com/github/vuongdenchoi/introductionwithR/blob/main/DSR_SQL_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install required libraries
install.packages('RSQLite')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘plogr’

In [2]:
# Load required libraries
library(DBI)
library(RSQLite)

Create a database with two tables (departments and students) and insert sample data.
* departments infomation and sample data

|dept_id (PRIMARY KEY)|	dept_name|
|---|---|
|\<chr>|	\<chr>|
|K1	|department of mathematics|
|K2|	department of physics|
|K3|	department of chemistry|


* students information and sample data

|student_id ( PRIMARY KEY)|	name|	dob	|address|	dept_id (FOREIGN KEY)|
|---|---|---|---|---|
|\<int>|	\<chr>	|\<chr>|	\<chr>|	\<chr>|
|1|	Bui Van L|	2001-11-11|	110 Nguyen Chi Thanh, Ha Noi|	K3|
|2|	Hoang Thi N	|2001-05-21|	123 Hang Bai, Ha Noi	|K2|
|3|	Le Van I|	2001-06-30|	606 Hoang Van Thu, TP.HCM	|K2|
|4|	Tran Thi J|	2000-03-08	|717 Nguyen Trai, Da Nang	|K2|
|5|	Nguyen Van B|	2000-12-15|456 Le Duan, TP.HCM	|K1|
|6|	Le Thi A	|2001-06-20	|123 Hai Ba Trung, TP.HCM	|K2|
|7|	Tran Van C	|2002-01-10|	789 Tran Hung Dao, Ha Noi|	K3|
|8|	Pham Thi Q|	2001-09-09|	456 Pho Hue, Ha Noi|	K3|
|9|	Vo Van T	|2002-06-27|	616 Tran Nhan Tong, Ha Noi|	K3|
|10	|Pham Thi D|	2001-09-05|	101 Ba Trieu, Da Nang|	K1|
|11|	Hoang Van O|	2001-07-13|	404 Tran Phu, Ha Noi|	K2|
|12	|Nguyen Thi H	|2002-02-19|	505 Tran Binh Trong, TP.HCM|	K1|
|13	|Pham Van K	|1999-10-24	|808 Tran Cao Van, TP.HCM|	K1|
|14|	Vo Thi L|	2002-08-12|	909 Le Lai, TP.HCM|	K2|
|15|	Nguyen Van N|	2001-03-15	|212 Hang Ma, Ha Noi	|K3|
|16|	Le Thi P	|2002-07-18	|313 Hang Bong, Ha Noi|	K3|
|17	|Tran Van R|	1999-12-03	|414 Hang Dao, Ha Noi	|K2|
|18	|Vo Van E|	2002-05-17	|202 Nguyen Du, TP.HCM	|K1|
|19	|Bui Thi F	|2001-12-25|	789 Ly Thuong Kiet, TP.HCM|	K2|
|20	|Bui Van S	|2001-01-02|	456 Le Thanh Tong, Ha Noi|	K1|

In [9]:
# Create connection to SQLite database
con <- dbConnect(RSQLite::SQLite(), "univ.db")

# Create departments and students

# Insert sample data

In [10]:

# Create the departments table
dbExecute(con, "
CREATE TABLE departments (
    dept_id TEXT PRIMARY KEY,
    dept_name TEXT NOT NULL
);
")

# Insert sample data into departments table
dbExecute(con, "
INSERT INTO departments (dept_id, dept_name) VALUES
('K1', 'department of mathematics'),
('K2', 'department of physics'),
('K3', 'department of chemistry');
")

# Create the students table
dbExecute(con, "
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    dob TEXT NOT NULL,
    address TEXT NOT NULL,
    dept_id TEXT,
    FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
);
")

# Insert sample data into students table
dbExecute(con, "
INSERT INTO students (student_id, name, dob, address, dept_id) VALUES
(1, 'Bui Van L', '2001-11-11', '110 Nguyen Chi Thanh, Ha Noi', 'K3'),
(2, 'Hoang Thi N', '2001-05-21', '123 Hang Bai, Ha Noi', 'K2'),
(3, 'Le Van I', '2001-06-30', '606 Hoang Van Thu, TP.HCM', 'K2'),
(4, 'Tran Thi J', '2000-03-08', '717 Nguyen Trai, Da Nang', 'K2'),
(5, 'Nguyen Van B', '2000-12-15', '456 Le Duan, TP.HCM', 'K1'),
(6, 'Le Thi A', '2001-06-20', '123 Hai Ba Trung, TP.HCM', 'K2'),
(7, 'Tran Van C', '2002-01-10', '789 Tran Hung Dao, Ha Noi', 'K3'),
(8, 'Pham Thi Q', '2001-09-09', '456 Pho Hue, Ha Noi', 'K3'),
(9, 'Vo Van T', '2002-06-27', '616 Tran Nhan Tong, Ha Noi', 'K3'),
(10, 'Pham Thi D', '2001-09-05', '101 Ba Trieu, Da Nang', 'K1'),
(11, 'Hoang Van O', '2001-07-13', '404 Tran Phu, Ha Noi', 'K2'),
(12, 'Nguyen Thi H', '2002-02-19', '505 Tran Binh Trong, TP.HCM', 'K1'),
(13, 'Pham Van K', '1999-10-24', '808 Tran Cao Van, TP.HCM', 'K1'),
(14, 'Vo Thi L', '2002-08-12', '909 Le Lai, TP.HCM', 'K2'),
(15, 'Nguyen Van N', '2001-03-15', '212 Hang Ma, Ha Noi', 'K3'),
(16, 'Le Thi P', '2002-07-18', '313 Hang Bong, Ha Noi', 'K3'),
(17, 'Tran Van R', '1999-12-03', '414 Hang Dao, Ha Noi', 'K2'),
(18, 'Vo Van E', '2002-05-17', '202 Nguyen Du, TP.HCM', 'K1'),
(19, 'Bui Thi F', '2001-12-25', '789 Ly Thuong Kiet, TP.HCM', 'K2'),
(20, 'Bui Van S', '2001-01-02', '456 Le Thanh Tong, Ha Noi', 'K1');
")

# Verify that data has been inserted correctly
departments <- dbGetQuery(con, "SELECT * FROM departments")
students <- dbGetQuery(con, "SELECT * FROM students")

# Print tables
print(departments)
print(students)

# Close the database connection
dbDisconnect(con)

ERROR: Error: table departments already exists

1. Get all student information and sort by name (from A to Z)

  1.1. Descending
  
  1.2. Ascending

In [11]:
# Function to execute queries and display results
# Descending
query0 <- "SELECT * FROM students ORDER BY name DESC"

dbGetQuery(con, query0)

#Ascending
query1 <- "SELECT * FROM students ORDER BY name ASC"

dbGetQuery(con, query1)

   student_id name         dob        address                      dept_id
1   9         Vo Van T     2002-06-27 616 Tran Nhan Tong, Ha Noi   K3
2  18         Vo Van E     2002-05-17 202 Nguyen Du, TP.HCM        K1
3  14         Vo Thi L     2002-08-12 909 Le Lai, TP.HCM           K2
4  17         Tran Van R   1999-12-03 414 Hang Dao, Ha Noi         K2
5   7         Tran Van C   2002-01-10 789 Tran Hung Dao, Ha Noi    K3
6   4         Tran Thi J   2000-03-08 717 Nguyen Trai, Da Nang     K2
7  13         Pham Van K   1999-10-24 808 Tran Cao Van, TP.HCM     K1
8   8         Pham Thi Q   2001-09-09 456 Pho Hue, Ha Noi          K3
9  10         Pham Thi D   2001-09-05 101 Ba Trieu, Da Nang        K1
10 15         Nguyen Van N 2001-03-15 212 Hang Ma, Ha Noi          K3
11  5         Nguyen Van B 2000-12-15 456 Le Duan, TP.HCM          K1
12 12         Nguyen Thi H 2002-02-19 505 Tran Binh Trong, TP.HCM  K1
13  3         Le Van I     2001-06-30 606 Hoang Van Thu, TP.HCM    K2
14 16         Le Thi P     2002-07-18 313 Hang Bong, Ha Noi        K3
15  6         Le Thi A     2001-06-20 123 Hai Ba Trung, TP.HCM     K2
16 11         Hoang Van O  2001-07-13 404 Tran Phu, Ha Noi         K2
17  2         Hoang Thi N  2001-05-21 123 Hang Bai, Ha Noi         K2
18 20         Bui Van S    2001-01-02 456 Le Thanh Tong, Ha Noi    K1
19  1         Bui Van L    2001-11-11 110 Nguyen Chi Thanh, Ha Noi K3
20 19         Bui Thi F    2001-12-25 789 Ly Thuong Kiet, TP.HCM   K2

   student_id name         dob        address                      dept_id
1  19         Bui Thi F    2001-12-25 789 Ly Thuong Kiet, TP.HCM   K2
2   1         Bui Van L    2001-11-11 110 Nguyen Chi Thanh, Ha Noi K3
3  20         Bui Van S    2001-01-02 456 Le Thanh Tong, Ha Noi    K1
4   2         Hoang Thi N  2001-05-21 123 Hang Bai, Ha Noi         K2
5  11         Hoang Van O  2001-07-13 404 Tran Phu, Ha Noi         K2
6   6         Le Thi A     2001-06-20 123 Hai Ba Trung, TP.HCM     K2
7  16         Le Thi P     2002-07-18 313 Hang Bong, Ha Noi        K3
8   3         Le Van I     2001-06-30 606 Hoang Van Thu, TP.HCM    K2
9  12         Nguyen Thi H 2002-02-19 505 Tran Binh Trong, TP.HCM  K1
10  5         Nguyen Van B 2000-12-15 456 Le Duan, TP.HCM          K1
11 15         Nguyen Van N 2001-03-15 212 Hang Ma, Ha Noi          K3
12 10         Pham Thi D   2001-09-05 101 Ba Trieu, Da Nang        K1
13  8         Pham Thi Q   2001-09-09 456 Pho Hue, Ha Noi          K3
14 13         Pham Van K   1999-10-24 808 Tran Cao Van, TP.HCM     K1
15  4         Tran Thi J   2000-03-08 717 Nguyen Trai, Da Nang     K2
16  7         Tran Van C   2002-01-10 789 Tran Hung Dao, Ha Noi    K3
17 17         Tran Van R   1999-12-03 414 Hang Dao, Ha Noi         K2
18 14         Vo Thi L     2002-08-12 909 Le Lai, TP.HCM           K2
19 18         Vo Van E     2002-05-17 202 Nguyen Du, TP.HCM        K1
20  9         Vo Van T     2002-06-27 616 Tran Nhan Tong, Ha Noi   K3

2. Get information of students born after 01-01-2000 and sort by name in A->Z order

In [12]:
# Function to execute queries and display results

query2 <- "SELECT * FROM students WHERE dob > '2000-01-01' ORDER BY name ASC"

dbGetQuery(con, query2)

   student_id name         dob        address                      dept_id
1  19         Bui Thi F    2001-12-25 789 Ly Thuong Kiet, TP.HCM   K2
2   1         Bui Van L    2001-11-11 110 Nguyen Chi Thanh, Ha Noi K3
3  20         Bui Van S    2001-01-02 456 Le Thanh Tong, Ha Noi    K1
4   2         Hoang Thi N  2001-05-21 123 Hang Bai, Ha Noi         K2
5  11         Hoang Van O  2001-07-13 404 Tran Phu, Ha Noi         K2
6   6         Le Thi A     2001-06-20 123 Hai Ba Trung, TP.HCM     K2
7  16         Le Thi P     2002-07-18 313 Hang Bong, Ha Noi        K3
8   3         Le Van I     2001-06-30 606 Hoang Van Thu, TP.HCM    K2
9  12         Nguyen Thi H 2002-02-19 505 Tran Binh Trong, TP.HCM  K1
10  5         Nguyen Van B 2000-12-15 456 Le Duan, TP.HCM          K1
11 15         Nguyen Van N 2001-03-15 212 Hang Ma, Ha Noi          K3
12 10         Pham Thi D   2001-09-05 101 Ba Trieu, Da Nang        K1
13  8         Pham Thi Q   2001-09-09 456 Pho Hue, Ha Noi          K3
14  4         Tran Thi J   2000-03-08 717 Nguyen Trai, Da Nang     K2
15  7         Tran Van C   2002-01-10 789 Tran Hung Dao, Ha Noi    K3
16 14         Vo Thi L     2002-08-12 909 Le Lai, TP.HCM           K2
17 18         Vo Van E     2002-05-17 202 Nguyen Du, TP.HCM        K1
18  9         Vo Van T     2002-06-27 616 Tran Nhan Tong, Ha Noi   K3

3. Combine information from both the students and departments tables

In [13]:
# Function to execute queries and display results

query3 <- "SELECT * FROM students s JOIN departments d ON s.dept_id = d.dept_id"

dbGetQuery(con, query3)

   student_id name         dob        address                      dept_id
1   1         Bui Van L    2001-11-11 110 Nguyen Chi Thanh, Ha Noi K3
2   2         Hoang Thi N  2001-05-21 123 Hang Bai, Ha Noi         K2
3   3         Le Van I     2001-06-30 606 Hoang Van Thu, TP.HCM    K2
4   4         Tran Thi J   2000-03-08 717 Nguyen Trai, Da Nang     K2
5   5         Nguyen Van B 2000-12-15 456 Le Duan, TP.HCM          K1
6   6         Le Thi A     2001-06-20 123 Hai Ba Trung, TP.HCM     K2
7   7         Tran Van C   2002-01-10 789 Tran Hung Dao, Ha Noi    K3
8   8         Pham Thi Q   2001-09-09 456 Pho Hue, Ha Noi          K3
9   9         Vo Van T     2002-06-27 616 Tran Nhan Tong, Ha Noi   K3
10 10         Pham Thi D   2001-09-05 101 Ba Trieu, Da Nang        K1
11 11         Hoang Van O  2001-07-13 404 Tran Phu, Ha Noi         K2
12 12         Nguyen Thi H 2002-02-19 505 Tran Binh Trong, TP.HCM  K1
13 13         Pham Van K   1999-10-24 808 Tran Cao Van, TP.HCM     K1
14 14         Vo Thi L     2002-08-12 909 Le Lai, TP.HCM           K2
15 15         Nguyen Van N 2001-03-15 212 Hang Ma, Ha Noi          K3
16 16         Le Thi P     2002-07-18 313 Hang Bong, Ha Noi        K3
17 17         Tran Van R   1999-12-03 414 Hang Dao, Ha Noi         K2
18 18         Vo Van E     2002-05-17 202 Nguyen Du, TP.HCM        K1
19 19         Bui Thi F    2001-12-25 789 Ly Thuong Kiet, TP.HCM   K2
20 20         Bui Van S    2001-01-02 456 Le Thanh Tong, Ha Noi    K1
   dept_id dept_name
1  K3      department of chemistry
2  K2      department of physics
3  K2      department of physics
4  K2      department of physics
5  K1      department of mathematics
6  K2      department of physics
7  K3      department of chemistry
8  K3      department of chemistry
9  K3      department of chemistry
10 K1      department of mathematics
11 K2      department of physics
12 K1      department of mathematics
13 K1      department of mathematics
14 K2      department of physics
15 K3      department of chemistry
16 K3      department of chemistry
17 K2      department of physics
18 K1      department of mathematics
19 K2      department of physics
20 K1      department of mathematics

4. Number of students in each department

In [14]:
# Function to execute queries and display results

query4 <- "SELECT d.dept_name, COUNT(s.student_id) AS num_students FROM departments d LEFT JOIN students s ON d.dept_id = s.dept_id GROUP BY d.dept_name"

dbGetQuery(con, query4)

  dept_name                 num_students
1 department of chemistry   6
2 department of mathematics 6
3 department of physics     8

5. Filter out departments with less than 8 students

In [15]:
# Function to execute queries and display results

query5 <- "SELECT d.dept_name, COUNT(s.student_id) AS num_students FROM departments d LEFT JOIN students s ON d.dept_id = s.dept_id GROUP BY d.dept_name HAVING COUNT(s.student_id) >= 8"

dbGetQuery(con, query5)

  dept_name             num_students
1 department of physics 8

6. Get the list of students and sort by date of birth from newest to oldest.

In [16]:
# Function to execute queries and display results

query6 <- "SELECT * FROM students ORDER BY dob DESC"

dbGetQuery(con, query6)

   student_id name         dob        address                      dept_id
1  14         Vo Thi L     2002-08-12 909 Le Lai, TP.HCM           K2
2  16         Le Thi P     2002-07-18 313 Hang Bong, Ha Noi        K3
3   9         Vo Van T     2002-06-27 616 Tran Nhan Tong, Ha Noi   K3
4  18         Vo Van E     2002-05-17 202 Nguyen Du, TP.HCM        K1
5  12         Nguyen Thi H 2002-02-19 505 Tran Binh Trong, TP.HCM  K1
6   7         Tran Van C   2002-01-10 789 Tran Hung Dao, Ha Noi    K3
7  19         Bui Thi F    2001-12-25 789 Ly Thuong Kiet, TP.HCM   K2
8   1         Bui Van L    2001-11-11 110 Nguyen Chi Thanh, Ha Noi K3
9   8         Pham Thi Q   2001-09-09 456 Pho Hue, Ha Noi          K3
10 10         Pham Thi D   2001-09-05 101 Ba Trieu, Da Nang        K1
11 11         Hoang Van O  2001-07-13 404 Tran Phu, Ha Noi         K2
12  3         Le Van I     2001-06-30 606 Hoang Van Thu, TP.HCM    K2
13  6         Le Thi A     2001-06-20 123 Hai Ba Trung, TP.HCM     K2
14  2         Hoang Thi N  2001-05-21 123 Hang Bai, Ha Noi         K2
15 15         Nguyen Van N 2001-03-15 212 Hang Ma, Ha Noi          K3
16 20         Bui Van S    2001-01-02 456 Le Thanh Tong, Ha Noi    K1
17  5         Nguyen Van B 2000-12-15 456 Le Duan, TP.HCM          K1
18  4         Tran Thi J   2000-03-08 717 Nguyen Trai, Da Nang     K2
19 17         Tran Van R   1999-12-03 414 Hang Dao, Ha Noi         K2
20 13         Pham Van K   1999-10-24 808 Tran Cao Van, TP.HCM     K1

7. List the departments with less than 2 students.

In [17]:
# Function to execute queries and display results

query7 <- "SELECT d.dept_name, COUNT(s.student_id) AS num_students FROM departments d LEFT JOIN students s ON d.dept_id = s.dept_id GROUP BY d.dept_name HAVING COUNT(s.student_id) < 2"

dbGetQuery(con, query7)

     dept_name num_students

8. Get the student name and the department name, rename the resulting columns to "fullname" and "fullnameofdepartment".

In [18]:
# Function to execute queries and display results

query8 <- "SELECT s.name AS fullname, d.dept_name AS fullnameofdepartment FROM students s JOIN departments d ON s.dept_id = d.dept_id"

dbGetQuery(con, query8)

   fullname     fullnameofdepartment
1  Bui Van L    department of chemistry
2  Hoang Thi N  department of physics
3  Le Van I     department of physics
4  Tran Thi J   department of physics
5  Nguyen Van B department of mathematics
6  Le Thi A     department of physics
7  Tran Van C   department of chemistry
8  Pham Thi Q   department of chemistry
9  Vo Van T     department of chemistry
10 Pham Thi D   department of mathematics
11 Hoang Van O  department of physics
12 Nguyen Thi H department of mathematics
13 Pham Van K   department of mathematics
14 Vo Thi L     department of physics
15 Nguyen Van N department of chemistry
16 Le Thi P     department of chemistry
17 Tran Van R   department of physics
18 Vo Van E     department of mathematics
19 Bui Thi F    department of physics
20 Bui Van S    department of mathematics

9. Get student information named "Nguyen Van A" or "Le Thi B".

In [25]:
# Function to execute queries and display results

query9 <- "SELECT * FROM students WHERE name = 'Nguyen Van A' OR name = 'Le Thi B'"

dbGetQuery(con, query9)

     student_id name dob address dept_id

10. Get information of students in departments K1 and born after 01-01-2000.

In [23]:
# Function to execute queries and display results

query10 <- "SELECT * FROM students WHERE dept_id = 'K1' AND dob > '2000-01-01'"

dbGetQuery(con, query10)

  student_id name         dob        address                     dept_id
1  5         Nguyen Van B 2000-12-15 456 Le Duan, TP.HCM         K1
2 10         Pham Thi D   2001-09-05 101 Ba Trieu, Da Nang       K1
3 12         Nguyen Thi H 2002-02-19 505 Tran Binh Trong, TP.HCM K1
4 18         Vo Van E     2002-05-17 202 Nguyen Du, TP.HCM       K1
5 20         Bui Van S    2001-01-02 456 Le Thanh Tong, Ha Noi   K1

In [26]:
# Clean up
dbDisconnect(con)