<a href="https://colab.research.google.com/github/vuongdenchoi/introductionwithR/blob/main/DSR_Exercise_Lab02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
```
Course: DSR301m-SP25
Lab: 02
Name: Ngô Minh Vượng
ID: SE123456
Class: AI1804
```
---

**Submission File Name**: use **your StudentID** as file name (e.g., SE123456.ipynb)
* Only submit notebook file (.ipynb) or R file (.r)

**Deadline for submission: 21:00:00 PM on 09/03/2025**

**Link for submission**: https://forms.gle/FLFjDae9M3BU4AEA6

In [1]:
# Install required libraries
install.packages('RSQLite')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘plogr’

In [2]:
# Load required libraries
library(DBI)
library(RSQLite)

In [3]:
# Create and connect to an SQLite database (change path as needed)
con <- dbConnect(RSQLite::SQLite(), "mydatabase.db")

1. Complete table creation for PK and FK:
* customers: cus_id(PK)
* employees: emp_id (PK)
* products: pro_id (PK)
* invoice: inv_id (PK), cus_id (FK), emp_id (FK)
* invoice_details: inv_id(PK, FK), pro_id (PK, FK)

In [4]:
# -- Create tables for online bookstore
dbExecute(con, "CREATE TABLE customers(
  cus_id char(4),
  name varchar(40),
  address varchar(50),
  phonenumber varchar(20),
  DoB DATE,
  reg_date DATE,
  sale money)
  ")

dbExecute(con, "CREATE TABLE employees(
  emp_id char(4),
  name varchar(40),
  phonenumber varchar(20),
  start_date DATE)
  ")

dbExecute(con, "CREATE TABLE products(
 pro_id char(4),
 pro_name varchar(40),
 unit varchar(20),
 pro_country varchar(40),
 price money)
 ")

dbExecute(con, "CREATE TABLE invoice(
 inv_id int,
 inv_date DATE,
 inv_value money,
 cus_id char(4),
 emp_id char(4)
 )")
#
#
dbExecute(con, "CREATE TABLE invoice_details(
 inv_id int,
 pro_id char(4),
 quantity int)
 ")

[1] 0

[1] 0

[1] 0

[1] 0

[1] 0

In [5]:
dbExecute(con, "insert into customers (cus_id, name, address, phonenumber, DoB, reg_date, sale) values
 ('CM09','Le Ha Vinh','873 Le Hong Phong, Q5, TpHCM','8654763','1979-09-03','2007-01-14',70000),
  ('CM06','Le Hoai Thuong','227 Nguyen Van Cu, Q5, TpHCM','8631738','1981-12-31','2006-11-24',915000),
 ('CM07','Nguyen Van Tam','32/3 Tran Binh Trong, Q5, TpHCM','916783565','1971-04-06','2006-01-12',12500),
 ('CM08','Phan Thi Thanh','45/2 An Duong Vuong, Q5, TpHCM','938435756','1971-01-10','2006-12-13',365000),
 ('CM04','Tran Minh Long','50/34 Le Dai Hanh, Q10, TpHCM','917325476','1965-03-09','2006-02-10',250000),
 ('CM05','Le Nhat Minh','34 Truong Dinh, Q3, TpHCM','8246108','1950-03-10','2006-10-28',21000),
('CM01','Nguyen Van A','731 Tran Hung Dao, Q5, TpHCM','8823451','1960-10-22','2006-07-22',13060000),
('CM02','Tran Ngoc Han','23/5 Nguyen Trai, Q5, TpHCM','908256478','1974-03-04','2006-07-30',280000),
 ('CM03','Tran Ngoc Linh','45 Nguyen Canh Chan, Q1, TpHCM','938776266','1980-06-12','2006-05-08',3860000),
 ('CM10','Ha Duy Lap','34/34B Nguyen Trai, Q1, TpHCM','8768904','1983-05-02','2007-01-16',67500)"
 )


dbExecute(con, "insert into employees (emp_id, name, phonenumber, start_date) values
('ST04','Ngo Thanh Tuan','913758498','2006-06-24'),
('ST02','Le Thi Phi Yen','987567390','2006-04-21'),
('ST03','Nguyen Van B','997047382','2006-04-27'),
('ST01','Nguyen Nhu Nhut','927345678','2006-04-13'),
('ST05','Nguyen Thi Truc Thanh','918590387','2006-07-20')")

dbExecute(con, "insert into  products (pro_id,pro_name,unit,pro_country, price) values
 ('NB07','note book 1','q','VietNam',7000),
 ('NB08','note book 1','q','VietNam',1000),
 ('NB09','note book 2','q','VietNam',5000),
 ('BP01','ballpoint pen','c','VietNam',5000),
 ('BP02','ballpoint pen','c','China',7000),
 ('BP03','ballpoint pen','h','Thailand',100000),
  ('PP03','paper 300','q','VietNam',3000),
 ('PP04','paper 400','q','VietNam',5500),
 ('PP05','paper 100','q','VietNam',23000),
 ('PP06','paper 200','q','VietNam',53000),
  ('NB02','note book 1','q','VietNam',55000),
 ('NB03','note book 2','q','VietNam',51000),
 ('NB04','note book','q','Thailand',55000),
 ('NB05','note book 1','q','Thailand',20000),
 ('PP01','paper 100','q','China',2500),
 ('PP02','paper 200','q','China',4500),
 ('PP07','paper 100','q','China',34000),
 ('NB01','note book','q','China',40000),
 ('PC01','pencil','c','Singapore',3000),
('PC02','pencil','c','Singapore',5000),
('PC03','pencil','c','VietNam',3500),
 ('PC04','pencil','h','VietNam',30000),
 ('NB06','note book 3','q','VietNam',5000),
 ('NB10','note book 2','q','China',7000)")

dbExecute(con, "insert into invoice (inv_id,inv_date,cus_id ,emp_id, inv_value) values
 (1001,'2006-07-23','CM01','ST01',320000),
 (1015,'2007-01-01','CM06','ST01',910000),
(1016,'2007-01-01','CM07','ST02',12500),
(1017,'2007-01-02','CM08','ST03',35000),
(1005,'2006-10-20','CM01','ST02',3800000),
(1006,'2006-10-16','CM01','ST03',2430000),
(1010,'2006-11-01','CM01','ST01',5200000),
(1011,'2006-11-04','CM04','ST03',250000),
(1012,'2006-11-30','CM05','ST03',21000),
(1013,'2006-12-12','CM06','ST01',5000),
(1007,'2006-10-28','CM03','ST03',510000),
(1008,'2006-10-28','CM01','ST03',440000),
(1009,'2006-10-28','CM03','ST04',200000),
(1018,'2007-01-13','CM08','ST03',330000),
(1002,'2006-08-12','CM01','ST02',840000),
(1003,'2006-08-23','CM02','ST01',100000),
(1004,'2006-09-01','CM02','ST01',180000),
(1019,'2007-01-13','CM01','ST03',30000),
(1020,'2007-01-14','CM09','ST04',70000),
(1021,'2007-01-16','CM10','ST03',67500),
(1022,'2007-01-16',Null,'ST03',7000),
(1014,'2006-12-31','CM03','ST02',3150000),
(1023,'2007-01-17',Null,'ST01',330000)"
)

dbExecute(con, "insert into  invoice_details (inv_id,pro_id,quantity) values
(1001,'PB02',10),
 (1006,'PB07',20),
 (1006,'NB01',30),
 (1006,'NB02',10),
  (1002,'BP02',20),
 (1003,'BP03',10),
 (1004,'PB01',20),
 (1004,'PB02',10),
 (1007,'NB03',10),
 (1001,'NB01',5),
 (1001,'PC01',5),
 (1001,'PC02',10),
 (1001,'PB08',10),
 (1002,'BC04',20),
 (1002,'BP01',20),
 (1008,'NB04',8),
 (1009,'NB05',10),
 (1010,'PB07',50),
 (1010,'NB07',50),
 (1004,'PB03',10),
 (1004,'PB04',10),
 (1005,'PB05',50),
 (1005,'PB06',50),
 (1014,'BP02',100),
 (1014,'PC04',60),
 (1014,'BP01',50),
 (1015,'BPB02',30),
 (1010,'NB08',100),
 (1010,'NB04',50),
 (1010,'PB03',100),
 (1011,'NB06',50),
 (1012,'PB07',3),
 (1013,'NB08',5),
 (1014,'PC02',80),
 (1017,'PBV03',1),
 (1017,'PB04',5),
 (1018,'NB04',6),
 (1019,'NB05',1),
 (1015,'PB03',7),
 (1016,'PB01',5),
 (1017,'PB02',1),
 (1020,'NB07',10),
 (1021,'NB08',5),
 (1021,'PB01',7),
 (1021,'PB02',10),
 (1019,'NB06',2),
 (1022,'NB07',1),
 (1023,'NB04',6)")

[1] 10

[1] 5

[1] 24

[1] 23

[1] 48

2. Print out invoice numbers and invoice values ​​sold on January 1, 2007 and January 2, 2007.

In [6]:
# your code
# Assuming 'con' is your database connection

# Query to select the desired data
query <- "SELECT inv_id, inv_value
          FROM invoice
          WHERE inv_date IN ('2007-01-01', '2007-01-02')"

# Execute the query and store the result
result <- dbGetQuery(con, query)

# Print the result
print(result)

  inv_id inv_value
1   1015    910000
2   1016     12500
3   1017     35000

3.Print out invoice numbers and invoice values ​​for January 2007, sorted by date (ascending) and invoice value (descending).

In [10]:
# your code
# Assuming 'con' is your database connection

# Query to select and sort the data
query <- "SELECT inv_id, inv_value, inv_date
          FROM invoice
          WHERE strftime('%m', inv_date) = '01' AND strftime('%Y',inv_date)='2007'
          ORDER BY inv_date ASC, inv_value DESC"


# Execute the query and store the result
result <- dbGetQuery(con, query)

# Print the result
print(result)

  inv_id inv_value   inv_date
1   1015    910000 2007-01-01
2   1016     12500 2007-01-01
3   1017     35000 2007-01-02
4   1018    330000 2007-01-13
5   1019     30000 2007-01-13
6   1020     70000 2007-01-14
7   1021     67500 2007-01-16
8   1022      7000 2007-01-16
9   1023    330000 2007-01-17

4. Print out a list of customers (cus_id, name) who made purchases on January 1, 2007.

In [12]:
# your code
# Assuming 'con' is your database connection

# SQL query to retrieve customer information
query <- "SELECT DISTINCT c.cus_id, c.name
          FROM customers c
          JOIN invoice i ON c.cus_id = i.cus_id
          WHERE i.inv_date = '2007-01-01'"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

  cus_id           name
1   CM06 Le Hoai Thuong
2   CM07 Nguyen Van Tam

5. Find the invoice numbers for purchasing 2 products with codes “BP01” and “BP02” at the same time, each product purchased in quantity from 10 to 20.

In [13]:
# your
# Assuming 'con' is your database connection

query <- "SELECT DISTINCT inv_id
          FROM invoice_details
          WHERE pro_id IN ('BP01', 'BP02') AND quantity BETWEEN 10 AND 20
          GROUP BY inv_id
          HAVING COUNT(DISTINCT pro_id) = 2"

result <- dbGetQuery(con, query)

print(result)

  inv_id
1   1002

6. Print out a list of products (pro_id,pro_name) made by “China” or products sold on January 1, 2007.

In [14]:
# your code
# Assuming 'con' is your database connection

query <- "SELECT DISTINCT p.pro_id, p.pro_name
          FROM products p
          LEFT JOIN invoice_details id ON p.pro_id = id.pro_id
          LEFT JOIN invoice i ON id.inv_id = i.inv_id
          WHERE p.pro_country = 'China' OR i.inv_date = '2007-01-01'"

result <- dbGetQuery(con, query)

print(result)

  pro_id      pro_name
1   BP02 ballpoint pen
2   PP01     paper 100
3   PP02     paper 200
4   PP07     paper 100
5   NB01     note book
6   NB10   note book 2

7. How many different products were sold in 2006?

In [15]:
# your code
# Assuming 'con' is your database connection

query <- "SELECT COUNT(DISTINCT pro_id)
          FROM invoice_details id
          JOIN invoice i ON id.inv_id = i.inv_id
          WHERE strftime('%Y', i.inv_date) = '2006'"

result <- dbGetQuery(con, query)

print(result)

  COUNT(DISTINCT pro_id)
1                     23

8. Find the name of the customer who purchased the highest invoice value in 2006.

In [16]:

# your code
# Assuming 'con' is your database connection

query <- "SELECT c.name
          FROM customers c
          JOIN invoice i ON c.cus_id = i.cus_id
          WHERE strftime('%Y', i.inv_date) = '2006'
          ORDER BY i.inv_value DESC
          LIMIT 1"

result <- dbGetQuery(con, query)

print(result)

          name
1 Nguyen Van A

9. For each producing country, find the product (pro_id,pro_name) with the highest selling price.

In [17]:
# your code
# Assuming 'con' is your database connection

query <- "SELECT pro_country, pro_id, pro_name, price
          FROM products
          WHERE (pro_country, price) IN (SELECT pro_country, MAX(price)
                                        FROM products
                                        GROUP BY pro_country)"

result <- dbGetQuery(con, query)

print(result)

  pro_country pro_id      pro_name  price
1    Thailand   BP03 ballpoint pen 100000
2     VietNam   NB02   note book 1  55000
3       China   NB01     note book  40000
4   Singapore   PC02        pencil   5000

10. Of the top 10 customers with the highest sales, find the customer with the most purchases.

In [18]:
# your code
# Assuming 'con' is your database connection

# Step 1: Find the top 10 customers with the highest sales
top10_customers <- dbGetQuery(con, "
  SELECT cus_id, SUM(sale) AS total_sales
  FROM customers
  GROUP BY cus_id
  ORDER BY total_sales DESC
  LIMIT 10
")

# Step 2: Find the customer with the most purchases among the top 10
most_purchases_customer <- dbGetQuery(con, paste0("
  SELECT c.cus_id, c.name, COUNT(i.inv_id) AS num_purchases
  FROM customers c
  JOIN invoice i ON c.cus_id = i.cus_id
  WHERE c.cus_id IN ('", paste(top10_customers$cus_id, collapse = "', '"), "')
  GROUP BY c.cus_id, c.name
  ORDER BY num_purchases DESC
  LIMIT 1
"))

# Print the result
print(most_purchases_customer)

  cus_id         name num_purchases
1   CM01 Nguyen Van A             7