<a href="https://colab.research.google.com/github/vuongdenchoi/introductionwithR/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
data <- data.frame(person=c('an ','phuc','hoa','ngoc', 'binh','van '),sex=c('M','M','F','F','M','F'),funny=c('high','med','low','high','high','med'))

In [2]:
print(data)

  person sex funny
1    an    M  high
2   phuc   M   med
3    hoa   F   low
4   ngoc   F  high
5   binh   M  high
6   van    F   med

In [10]:
data$age <- c(25, 30, 18, 40, 21, 60)

In [11]:
print(data)

  person sex funny Age age
1    an    M  high  25  25
2   phuc   M   med  30  30
3    hoa   F   low  18  18
4   ngoc   F  high  40  40
5   binh   M  high  21  21
6   van    F   med  60  60

In [12]:
# Sắp xếp dữ liệu theo "Person" tăng dần và "Funny" giảm dần(-rank để giảm dần)
data_sorted <- data[order(data$person, -rank(data$funny)), ]

# In ra dataframe đã sắp xếp
print(data_sorted)

  person sex funny Age age
1    an    M  high  25  25
5   binh   M  high  21  21
3    hoa   F   low  18  18
4   ngoc   F  high  40  40
2   phuc   M   med  30  30
6   van    F   med  60  60

In [22]:
# Thay đổi thứ tự các cột
data_reordered <- data[, c("person", "age", "sex", "funny")]

# In ra dataframe đã thay đổi thứ tự cột
print(data_reordered)

  person age sex funny
1    an   25   M  high
2   phuc  30   M   med
3    hoa  18   F   low
4   ngoc  40   F  high
5   binh  21   M  high
6   van   60   F   med

In [31]:
data1 <- data.frame(
  person = c("Linh", "Nhan", "Yen", "Nam"),
  sex = c("F", "M", "F", "M"),
  funny = c("high", "med", "low", "high"),
  age=NA
)

In [32]:
df_combined <- rbind(data_reordered, data1)

In [34]:
df_combined

   person age sex funny
1  an     25  M   high
2  phuc   30  M   med
3  hoa    18  F   low
4  ngoc   40  F   high
5  binh   21  M   high
6  van    60  F   med
7  Linh   NA  F   high
8  Nhan   NA  M   med
9  Yen    NA  F   low
10 Nam    NA  M   high

In [35]:
df_filtered <- df_combined[df_combined$sex == "F" & df_combined$funny %in% c("med", "high"), c("person", "age")]

In [36]:
df_filtered

  person age
4 ngoc   40
6 van    60
7 Linh   NA

câu 6

In [37]:
# Cài đặt gói nếu chưa có
install.packages("writexl")

# Tải thư viện
library(writexl)

# # Tạo dữ liệu
# data <- data.frame(
#   Vendor = c("Publix", "Walmart", "Piggly"),
#   Apples_Sold = c(293, 986, 178),
#   Price = c(1.25, 0.75, 1.00)
# )

# Ghi dữ liệu vào tệp Excel
write_xlsx(data, "mydata.xlsx")

# In thông báo
print("File 'mydata.xlsx' đã được tạo.")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

[1] "File 'mydata.xlsx' đã được tạo."

In [38]:
# Cài đặt gói nếu chưa có
install.packages("readxl")

# Tải thư viện
library(readxl)

# Đọc dữ liệu từ tệp Excel
data_imported <- read_excel("mydata.xlsx")

# In dữ liệu đã nhập
print(data_imported)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# A tibble: 3 × 3
  Vendor  Apples_Sold Price
  <chr>         <dbl> <dbl>
1 Publix          293  1.25
2 Walmart         986  0.75
3 Piggly          178  1

In [39]:
# Tạo dữ liệu
people_data <- data.frame(
  Sex = c("M", "M", "F", "F", "F", "F", "M", "F"),
  BirthMonth = c(3, 7, 6, 1, 1, 9, 7, 2),
  Age = c(17, 23, 19, 23, 31, 19, 20, 22)
)

# Ghi dữ liệu vào tệp văn bản
write.table(people_data, "people.txt", row.names = FALSE, sep = "\t", quote = FALSE)

# In thông báo
print("File 'people.txt' đã được tạo.")

[1] "File 'people.txt' đã được tạo."

In [40]:
# Đọc dữ liệu từ tệp văn bản
people_imported <- read.table("people.txt", header = TRUE, sep = "\t")

# Lọc dữ liệu của nam giới và chọn cột Age và BirthMonth
male_data <- people_imported[people_imported$Sex == "M", c("Age", "BirthMonth")]

# In dữ liệu đã lọc
print(male_data)

  Age BirthMonth
1  17          3
2  23          7
7  20          7

In [41]:
# Sửa lỗi trong vector1
vector1 <- c("one", "two", "three", "four", "five", "seven")

# Sửa lỗi thiếu dấu ngoặc đóng trong vec.var
vec.var <- var(c(1, 3, 5, 3, 5, 1))

# Tính giá trị trung bình (mean)
vec.mean <- mean(c(1, 3, 5, 3, 5, 1))

# Sửa lỗi hàm Min thành min
vec.Min <- min(c(1, 3, 5, 3, 5, 1))

# Khai báo Vector2 đúng và gọi vector2
Vector2 <- c("a", "b", "f", "g")
vector2 <- Vector2  # Gọi đúng tên biến

# In kết quả
print(vector1)
print(vec.var)
print(vec.mean)
print(vec.Min)
print(vector2)

[1] "one"   "two"   "three" "four"  "five"  "seven"
[1] 3.2
[1] 3
[1] 1
[1] "a" "b" "f" "g"